//this is a partial to display the station data in bulma cards

<div class="columns">
  <div class="column is-one-fifth">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="{{card1.imageSrc}}" alt="{{card1.imageAlt}}">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">{{card1.title}}</p>
          </div>
        </div>
        <div class="content">
          {{card1.content}}
          <br>
          <time datetime="{{card1.time}}">{{card1.formattedTime}}</time>
        </div>
      </div>
    </div>
  </div>

  <div class="column is-one-fifth">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="{{card2.imageSrc}}" alt="{{card2.imageAlt}}">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">{{card2.title}}</p>
          </div>
        </div>
        <div class="content">
          {{card2.content}}
        </div>
      </div>
    </div>
  </div>

  <div class="column is-one-fifth">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="{{card3.imageSrc}}" alt="{{card3.imageAlt}}">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">{{card3.title}}</p>
          </div>
        </div>
        <div class="content">
          {{card3.content}}
        </div>
      </div>
    </div>
  </div>

  <div class="column is-one-fifth">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="{{card4.imageSrc}}" alt="{{card4.imageAlt}}">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">{{card4.title}}</p>
          </div>
        </div>
        <div class="content">
          {{card4.content}}
        </div>
      </div>
    </div>
  </div>

  <div class="column is-one-fifth">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="{{card5.imageSrc}}" alt="{{card5.imageAlt}}">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">{{card5.title}}</p>
          </div>
        </div>
        <div class="content">
          {{card5.content}}
        </div>
      </div>
    </div>
  </div>
</div>